/*
  Reseting CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* 
 -------------
*/

/* --------------------------------------- Fonts --------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

h3,
h4,
h5,
h6,
p {
	font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2 {
	font-family: 'Cinzel', serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 28px;
}

/* --------------------------------------------------------------- */

/* ------------------------------- Colors -----------------------------------------*/
$corPreto: #000;
$corRoxoEscuro: #0B0910;
$corBranco: #fff;
$corLaranja: #cc3619;
$corBege: #b89361;
$corCinza: #b2b4bb;
$corBordo: #55283d;
$corRoxo: #2d194e;
$corAzul: #1738d5;
$corCinzaClaro: #d8d9dc;

/* --------------------------------------------------------------- */

.btn-orange {
	padding: 15px 25px;
	background-color: $corLaranja;
	border: none;
	color: $corBranco;
	font-size: 1rem;
}

body {
	display: flex;
	justify-content: flex-start;
}

/* Criar função para icon-holder */

.icon-holder {
	background-color: $corCinzaClaro;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	text-align: center;
	line-height: 125px;
	margin: 0 auto;

	i {
		font-size: 60px;
		color: $corLaranja;
	}
}

hr {
	color: $corLaranja;
	margin-left: 30px;
}

aside {
	width: 25%;
	height: 100vh;
	position: relative;
	background-color: $corRoxoEscuro;
	color: $corCinza;

	a {
		color: $corCinza;
	}

	.menu,
	.footer-menu {
		padding: 30px 30px 30px 90px;

		ul {
			list-style: none;
		}

		i {
			color: $corLaranja;
			font-size: 22px;
			margin-right: 10px;
			vertical-align: middle;
		}
	}

	.menu {
		li {
			margin-bottom: 20px;
		}
	}

	.head-menu {
		height: 130px;
		background-color: $corLaranja;
		text-align: center;
		line-height: 120px;
		color: $corBranco;
	}

	.user-holder {
		margin-top: 40px;
		margin-bottom: 40px;

		p {
			margin-top: 15px;
			text-align: center;
		}
	}

	.footer-menu {
		position: absolute;
		bottom: 0;
	}
}

#content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-evenly;
	padding: 30px;

	.card {
		width: 30%;
		margin-bottom: 60px;
		padding: 30px;
		background-color: $corRoxo;
		color: $corBranco;
		border-radius: 10px;
		position: relative;

		h4,
		p {
			text-align: center;
		}

		h4 {
			margin-top: 20px;
		}

		.btn-orange {
			float: right;
			margin-top: 15px;
		}

		.icon-holder {
			margin-top: 30px;
		}
	}
}