/*
  Reseting CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* 
 -------------
*/

/* --------------------------------------- Fonts --------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');



h3,
h4,
h5,
h6,
p {
	font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2 {
	font-family: 'Cinzel', serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 2.50rem;
}

h4 {
	font-size: 2.25rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.75rem;
}

/* --------------------------------------------------------------- */

/* ------------------------------- Colors -----------------------------------------*/
$corPreto: #000;
$corRoxoEscuro: #0B0910;
$corBranco: #fff;

$corLaranja: #cc3619;
$corLaranjaHover: #ee6a50;

$corBege: #b89361;
$corCinza: #b2b4bb;
$corBordo: #55283d;
$corRoxo: #2d194e;
$corAzul: #1738d5;
$corCinzaClaro: #d8d9dc;
$corCinzaTabela:#f6f6f6;
/* --------------------------------------------------------------- */

/* ------------------- Mixins ---------------- */

@mixin icon-holder($w, $h) {
	width: $w;
	height: $h;
}

/* -------------------------------------------- */

body {
	display: flex;
	justify-content: flex-start;
}

section {
	width: 75%;
}

.container {
	margin: 60px;
	padding: 30px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.oculto {
	display: none;
}

.btn-orange {
	padding: 15px 25px;
	background-color: $corLaranja;
	border: none;
	color: $corBranco;
	font-size: 1rem;

	&:hover {
		background-color: $corLaranjaHover;
	}
}

.btn-orange-outline {
	float: right;
	padding: 15px 25px;
	border: 1px solid $corLaranja;
	border-radius: 5px;
	color: $corLaranja;
	font-size: 1rem;

	&:hover {
		background-color: $corLaranjaHover;
		color: $corBranco;
		border-color: $corLaranjaHover;
		//make an hover animation
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	color: $corLaranja;

	.dropdown-button {
		z-index: 0;
	}

	.dropdown-button-content {
		//make an animation for this
		display: none;
		position: absolute;
		left: -15px;
		z-index: 10;

		a {
			padding: 15px 20px 15px 20px;
			background-color: $corLaranja;
			// border-bottom: 1px solid $corCinza;
			color: $corBranco;
			display: block;

			&:first-of-type {
				margin-top: 5px;
			}

			&:hover {
				background-color: $corLaranjaHover;
			}

			&:hover {
				.dropdown-button-content {
					display: block;
				}
			}
		}
	}

	&:hover {
		.dropdown-button-content {
			display: block;
		}
	}
}

.icon-holder {
	background-color: $corCinzaClaro;
	border-radius: 100%;
	text-align: center;
	line-height: 125px;
	margin: 0 auto;

	i {
		font-size: 60px;
		color: $corLaranja;

		&:hover {
			color: $corLaranjaHover;
		}
	}
}

hr {
	color: $corLaranja;
	margin-left: 30px;
}

.table {
	width: 100%;
	border-collapse: collapse;

	td,
	th {
		height: 60px;
		text-align: center;
		vertical-align: middle;
	}

	th {
		border-bottom: 1px solid $corCinzaClaro;
	}

	tbody {
		tr {
			&:nth-child(even) {
				background-color: $corCinzaTabela;
			}

			&:last-of-type {
				border-radius: 0px 0px 10px 10px;
			}
		}
	}
}

.wrapper {
	border: 2px solid $corCinza;
	border-radius: 10px;
	margin: 50px 0 50px 0;
}

.title {
	position: relative;
	width: min-content;

	&:after {
		$width: 110px;
		content: "";
		background-color: $corLaranja;
		width: $width;
		height: 2px;
		position: absolute;
		top: 55px;
		left: calc(50% - (#{$width} / 2));
	}
}

aside {
	width: 25%;
	height: 100vh;
	position: relative;
	background-color: $corRoxoEscuro;
	color: $corCinza;

	a {
		color: $corBranco;

		&:hover {
			color: $corCinzaClaro;
		}
	}

	.icon-holder {
		@include icon-holder(80px, 80px);
	}

	.menu,
	.footer-menu {
		padding: 30px 30px 30px 90px;

		a {
			color: $corCinza;

			&:hover {
				color: $corLaranja;
			}
		}

		ul {
			list-style: none;
		}

		i {
			color: $corLaranja;
			font-size: 22px;
			margin-right: 10px;
			vertical-align: middle;

			&:hover {
				color: $corLaranjaHover;
			}
		}
	}

	.menu {
		li {
			margin-bottom: 20px;

			.ativo {
				position: relative;
				z-index: 999;

				&:before {
					content: " ";
					background-color: $corRoxo;
					width: 245px;
					height: 40px;
					position: absolute;
					left: -90px;
					top: -10px;
					z-index: -1;
				}
			}
		}


	}

	.head-menu {
		height: 130px;
		background-color: $corLaranja;
		text-align: center;
		line-height: 120px;
		color: $corBranco;

		.btn-menu {
			float: right;
			margin-right: 15px;
			color: $corBranco;

			i {}

		}
	}


	.user-holder {
		margin-top: 40px;
		margin-bottom: 40px;

		p {
			margin-top: 15px;
			text-align: center;
		}
	}

	.footer-menu {
		position: absolute;
		bottom: 0;
	}
}

#cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: space-evenly;
	padding: 30px;
	width: 70%;

	.card {
		width: 30%;
		margin-bottom: 50px;
		padding: 30px;
		background-color: $corRoxo;
		color: $corBranco;
		border-radius: 10px;
		position: relative;

		.icon-holder {
			@include icon-holder(120px, 120px);
			line-height: 190px;

			i {
				font-size: 90px;
			}
		}

		h4,
		p {
			text-align: center;
		}

		h4 {
			margin-top: 20px;
		}

		.btn-orange {
			float: right;
			margin-top: 15px;
		}

		.icon-holder {
			margin-top: 30px;
		}
	}
}


/* 
 Mobile
 */

@media(max-width: "768px") {
	html {
		font-size: 14px;
	}

	aside {
		width: 30%;

		.menu,
		.footer-menu {
			padding-left: 20px;
			padding-right: 10px;

			i {
				margin-right: 5px;
			}

		}

	}

	#cards {
		flex-direction: column;
		align-content: center;
		width: 70%;

		.card {
			width: 70%;

			h4 {
				font-size: 2rem;
			}
		}
	}
}